
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-image: url('bg.png'); /* Path to your background image */
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed on scroll (optional) */
    
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 250px;
    height: 100px;
    margin-top: 10px;
}

.logo h1 {
    font-size: 24px;
    color: #64b5f6;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.create-wallet-btn {
    padding: 10px 20px;
    background-color: #64b5f6;
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.hidden {
    display: none; /* Hide confirmation message by default */
}

#confirmationMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #e7f3ff;
    color: #0056b3;
}
